.viewButton, .editButton, .createDeckButton, .flipButton {
    background-color: #888888;
    border-color: #dddddd;
    color: #ffffff;
}

.studyButton, .addCardButton, .nextButton {
    background-color: #00bfff;
    border-color: #dddddd;
    color: #ffffff;
}

.deleteButton {
    background-color: #ff0000;
    border-color: #dddddd;
    color: #ffffff;
}